---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
    <header>
        <nav class="nav">
            <h1>Showlt</h1>
            <a class="nav__login" href="https://site2.q10.com/User/Login" target="_blank">Iniciar Sessión</a>
        </nav>
    </header>
	<main>
        <section class="blocle">
            <article>
                <p>Maquetas de productos profesionales para todos sus proyectos digitales e impresos</p>
                <p>Lleva sus diseños digitales, impresos y de animada a un nivel completamente nuevo con nuestras maquetas de productos profesionales y fáciles de usar de todas las categorías.</p>
                <h2>El generador de maquetas de productos</h2>
                <h2>Crea fabulosos mockups de productos fácilmente y en línea</h2>
                <form action="">
                <input type="file" id="file-input" class="custom-file-input" />
                <label for="file-input" class="file-label">Sube tu imagen</label>
                </form>
            </article>
            <img src="/mockup/muestras.png" alt="Muestras de plantillas" title="Muestras de plantillas">
        </section>
        <section class="blocle">
            <img src="/mockup/muestras-2.png" alt="Muestras de plantillas" title="Muestras de plantillas">
            <article>
                <h3>Introducción</h3>
                <h2>Cree maquetas profesionales en su navegador, incluso cuando esté fuera.</h2>
                <p>Olvidate de pasar horas aprendiendo a usar Photoshop. Showlt te premite crear impresionantes maquetas de alta resolución desde tu navegador en una interfas a través de múltiples dispositivos.</p>
                <p>Lleva sus diseños digitales, impresos y de animada a un nivel completamente nuevo con nuestras maquetas de productos profesionales y fáciles de usar de todas las categorías.</p>
                <ul>
                    <li>La herramienta de maquetas online más rápida.</li>
                    <li>No se necesita experiencia previa, es super fácil de usar.</li>
                </ul>
            </article>

        </section>
	</main>
	<footer>
	</footer>
</Layout>

<style>
.nav{
    border-top: 3px solid #878787;
    border-bottom: 3px solid #878787;
    display: flex;
    justify-content: space-between;
    //height: 50px;
}
.blocle{
    display: flex;
    justify-content: space-evenly;
}
.nav__login{
    text-decoration: none;
    color: white;
    background-color: #DF9E11;
    padding: 5px 40px 5px 40px;
    border-radius: 10px 20px;
    height: 35px;
    margin-top: 3px;
}
h1{
    font-size: 30px;
    margin: 0;
    color: #1E9BD1;
}

/* Ocultar el input de tipo file */
.custom-file-input {
    display: none;
}

/* Estilos para el botón personalizado */
.file-label {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/* Cambiar color al pasar el mouse */
.file-label:hover {
    background-color: #45a049;
}
</style>
